---
import Layout from "@/layouts/Layout.astro";
import Banner from "@/components/BannerSection.astro";
import DescriptionSection from "@/components/DescriptionSection.astro";
import GallerySection from "@/components/GallerySection.astro";
---

<Layout>
    <main>
        <Banner />
        <DescriptionSection />
        <GallerySection />
    </main>
</Layout>
