---
import LogoLorart from "@/assets/icons/logo.astro";
import DownloadLogo from "@/assets/icons/download_logo.astro";
import Arrow from "@/assets/icons/Arrow_01.svg";
import DownloadArrow from "@/assets/icons/download_arrow.svg";
---

<section class="h-[900px] max-w-9xl bg-secondary relative mx-auto">
    <div class="flex justify-between items-center w-[1141px] h-16 py-12 mx-36">
        <a
            aria-label="LorartLogo"
            href="/"
            class="flex justify-center items-center"
        >
            <LogoLorart
                class="transition-transform duration-300 hover:scale-110 w-16"
            />
        </a>
        <nav class="flex justify-end items-center w-[434px] h-11 gap-x-12">
            <ul class="flex justify-end items-center gap-x-12">
                <li>
                    <a href="/" class="flex items-center">Home</a>
                </li>
                <li>
                    <a href="/projects" class="flex items-center"> Projects </a>
                </li>
                <li>
                    <a href="/contact" class="flex items-center">Contact</a>
                </li>
            </ul>

            <div class="flex justify-end items-center">
                <button
                    class="flex justify-center items-center bg-primary w-36 h-12 text-lg px-5 py-3 text-secondary rounded transition-transform duration-300 hover:scale-110 gap-x-2"
                    >CV <DownloadLogo class="w-5 stroke-secondary" />
                </button>
            </div>
        </nav>
    </div>

    <div class="max-w-2xl h-[400px] mt-20 mx-36 relative">
        <header class="w-[90%]">
            <p class="text-7xl font-semibold">
                Donde las ideas toman forma y el espacio cobra vida.
            </p>
        </header>
        <div class="mt-9 flex flex-row">
            <button
                class="flex justify-center items-center bg-primary text-secondary font-medium text-lg w-[185px] px-5 py-3 rounded transition-transform duration-300 hover:scale-110"
                >Ver proyectos</button
            >
            <button
                class="flex justify-center items-center text-[#424D79] font-medium text-lg w-[185px] h-12 px-5 py-3 rounded transition-transform duration-300 hover:scale-110 gap-x-2"
                >Portfolio <DownloadArrow class="w-5" /></button
            >
        </div>

        <div class="absolute bottom-0 right-24">
            <Arrow class="w-36 mt-20 z-99" />
        </div>
    </div>

    <div class="absolute right-0 top-[30%]">
        <LogoLorart class="z-999 w-[725px]" />
    </div>
</section>
