---
import HomeIcon from "@/assets/icons/home-icon.astro";
import ProjectsIcon from "@/assets/icons/project-icon.astro";
import ContactIcon from "@/assets/icons/contact-icon.astro";
import Logo from "@/assets/logo.svg";
---

<header
    class="w-full text-xl px-20 py-5 sticky top-0 backdrop-blur-md border-b border-secondary z-10 m-auto md:w-screen-md"
>
    <div class="flex justify-between items-center w-7xl m-auto px-8">
        <a
            href="/index"
            rel="noopener noreferrer"
            title="Logo Lorart"
            aria-label="Ir a Inicio"
        >
            <Logo
                width={60}
                class="transition-transform duration-300 hover:scale-110"
            />
        </a>
        <nav class="flex w-full justify-center items-center">
            <div class="flex justify-between gap-8">
                <div class="flex justify-center align-center gap-x-10">
                    <a
                        class="flex items-center md:w-auto justify-center gap-2 md:px-4 md:py-2 md:rounded-2xl border border-transparent hover:border-secondary transition-all duration-300 min-h-[50px] px-5 py-4 text-xl w-full"
                        href="#index"
                    >
                        <HomeIcon class="w-9" />
                        Inicio
                    </a>

                    <a
                        class="flex items-center justify-center gap-2 md:px-4 md:py-2 md:rounded-2xl border border-transparent hover:border-secondary transition-all duration-300 min-h-[50px] px-5 py-4 text-xl w-full"
                        href="#projects"
                    >
                        <ProjectsIcon class="w-9" />
                        Proyectos
                    </a>

                    <a
                        class="flex items-center justify-center gap-2 md:px-4 md:py-2 md:rounded-2xl border border-transparent hover:border-secondary transition-all duration-300 min-h-[50px] px-5 py-4 text-xl w-full"
                        href="#contacto"
                    >
                        <ContactIcon class="w-9" />
                        Contacto</a
                    >
                </div>
            </div>
        </nav>
        <div class="flex justify-center items-center gap-4">
            <a
                href="https://www.instagram.com/lorartestudio"
                rel="noopener noreferrer"
                target="_blank"
            >
                <img
                    class="w-10 transition-transform hover:scale-110 duration-300"
                    src="/src/assets/icons/instagram.png"
                    alt="Logo Instagran"
                />
            </a>

            <a
                href="https://www.facebook.com/profile.php?id=61569035094307"
                rel="noopener noreferrer"
                target="_blank"
            >
                <img
                    class="w-10 transition-transform hover:scale-110 duration-300"
                    src="/src/assets/icons/facebook.png"
                    alt="Logo Facebook"
                />
            </a>

            <a
                href="https://pin.it/5OCyCma1i"
                rel="noopener noreferrer"
                target="_blank"
            >
                <img
                    class="w-10 transition-transform hover:scale-110 duration-300"
                    src="/src/assets/icons/pinterest.png"
                    alt="Logo Pinterest"
                />
            </a>

            <a
                href="https://www.linkedin.com/lorart"
                rel="noopener noreferrer"
                target="_blank"
            >
                <img
                    class="w-10 transition-transform hover:scale-110 duration-300"
                    src="/src/assets/icons/linkedIn.png"
                    alt="Logo LinkedIn"
                />
            </a>
        </div>
    </div>
</header>
